{% extends "admin/base.html" %}
{% load static admin_urls crispy_forms_tags i18n unfold unfold_extra_tags %}

{# Ensure Unfold navigation renders branding/icon even for Fobi templates #}
{% block branding %}{{ site_header|default:"Django administration" }}{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% url 'admin:jsi18n' %}"></script>
    {# Fobi theme javascripts #}
    {% block theme-javascripts %}
        {% for js_file in fobi_theme.get_media_js %}
        <script src="{{ js_file }}"></script>
        {% endfor %}
    {% endblock theme-javascripts %}
{% endblock %}

{% block extrastyle %}
    {{ block.super }}
    {% unfold_extra_styles %}
    {# Fobi theme stylesheets #}
    {% block theme-stylesheets %}
        {% for css_file in fobi_theme.get_media_css %}
        <link href="{{ css_file }}" rel="stylesheet" media="all" />
        {% endfor %}
    {% endblock theme-stylesheets %}
{% endblock %}


{% block content %}
    {# Default content when child templates don't override content-wrapper #}
    {% block content-wrapper %}
        {% block object-tools %}{% endblock %}
    {% endblock %}
{% endblock %}

{# Render Fobi's optional sidebar content inside Unfold's sidebar slot #}
{% block sidebar %}
    {% block sidebar-wrapper %}{% endblock %}
{% endblock %}
