{% load i18n %}
<li class="{% if list_item_class %}{{ list_item_class }}{% else %}text-white max-lg:-mt-px bg-primary-600 max-lg:first:rounded-t-default lg:-ml-px dark:border-primary-500 border-base-200 max-lg:last:rounded-b-default border-primary-700 border{% endif %}" x-data="{actionDropdownOpen: false}" x-ref="{{ dropdown_ref }}">
  <a class="cursor-pointer flex grow items-center gap-2 px-3 py-2 text-left whitespace-nowrap" x-on:click="actionDropdownOpen = !actionDropdownOpen" x-bind:class="{'': actionDropdownOpen }">
    {{ label }}
    <span class="border-l border-base-200 flex items-center select-none self-stretch ml-auto -mr-1 pl-2 border-primary-700 dark:border-primary-500">
      <span class="material-symbols-outlined ml-auto rotate-90 transition-transform" x-bind:class="{'-rotate-90!': actionDropdownOpen }">
        chevron_right
      </span>
    </span>
  </a>
  <template x-teleport="body" data-teleport-template="true">
    <nav x-anchor.bottom-end.offset.4="$refs.{{ dropdown_ref }}" class="absolute bg-white border border-base-200 flex flex-col -mr-px py-1 right-0 rounded-default shadow-lg top-10 w-52 z-50 dark:bg-base-800 dark:border-base-700" x-transition x-show="actionDropdownOpen" x-on:click.outside="actionDropdownOpen = false">
      {{ items }}
    </nav>
  </template>
</li>
